header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: url("../img/bg-pattern.png"), #ffffff; background: url("../img/bg-pattern.png"), -webkit-gradient(linear, right top, left top, from(#00BCD4), to(#673AB7)) !important;
  background: url("../img/bg-pattern.png"), -webkit-gradient(linear, right top, left top, from(#00BCD4), to(#673AB7)) !important;
  background: url("../img/bg-pattern.png"), linear-gradient(to left, #7b4397, #24dcbd) !important;
}

/*main logo on front page without hovering over it*/
#mainNav .navbar-brand {
  color: #ffffff;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

/*main logo on front page when you hover over it*/
#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #ffffff;
}

#mainNav .navbar-brand:focus {
    color: #ffffff;
}
/*highlighted menu option when on that page*/
#mainNav .navbar-nav > li > a.active {
  color: #8660fd !important;
  background-color: transparent;
}

/*menu items hover color on main page*/
#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #000000;
}

/*mouse over main logo when not on main page*/
 #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #434246;
  }

 /*menu options color when not on that page or hovering and not on main page*/
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #000000;
  }

  /*menu items when mouse over when scrolling*/
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #8660fd;
  }


.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #ffffff;
  background-color: #000000;
}

header.masthead1 {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: url("../img/bg-pattern.png"), #ffffff; background: url("../img/bg-pattern.png"), -webkit-gradient(linear, right top, left top, from(#00BCD4), to(#673AB7)) !important;
  background: url("../img/bg-pattern.png"), -webkit-gradient(linear, right top, left top, from(#00BCD4), to(#673AB7)) !important;
  background: url("../img/bg-pattern.png"), linear-gradient(to bottom, #ffffff, #24dcbd) !important;
}

section.features .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: -webkit-gradient(linear, right top, left top, from(#5cff84), to(#6359fd));
  background: linear-gradient(to left, #5cff84, #6359fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.rubric {
  background: url("../img/bg-pattern.png"), #37ffcf;
  background: url("../img/bg-pattern.png"), -webkit-gradient(linear, right top, left top, from(#00BCD4), to(#673AB7));
  background: url("../img/bg-pattern.png"), linear-gradient(to bottom, #35bfc0, #8660fd);
}

.bg-primary {
  /*background: url("../img/bg-pattern.png"), #37ffcf;*/
  /*background: url("../img/bg-pattern.png"), -webkit-gradient(linear, right top, left top, from(#00BCD4), to(#673AB7));*/
  /*background: url("../img/bg-pattern.png"), linear-gradient(to bottom, #000000, #000000);*/
    background-color: black;
}
.bg-primary {
  background: #000000;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
  background: linear-gradient(#000000, #000000);
}


section.contact ul.list-social li.social-twitter a {
  background-color: #2e2d31;
}

section.contact ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}

section.contact ul.list-social li.social-facebook a {
  background-color: #2e2d31;
}

section.contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}

section.contact ul.list-social li.social-instagram a {
  background-color: #2e2d31;
}

section.contact ul.list-social li.social-instagram a:hover {
  background-color: #4b231a;
}

section.rubric .section-heading {
  /*distance between h2 and p*/
   margin-bottom: 25px;

    /*position: absolute;*/
    /*top: 8px;*/
    /*left: 16px;*/
}

section.rubric .section-heading h2 {
  /*margin-top: 0;*/
}

section.rubric .section-heading p {
    /*margin-bottom: 200%;*/
}

section.rubric .carousel-caption {
    top: 2px;
}

.carousel-item {
  height: 68vh;
  min-height: 300px;
  /* width: 100%; height: auto; */
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.rubricpic {
  display: block;
  width: 100%; height: auto;
  max-height: 60vh;
  margin-right: auto;
  background-size: contain
}


section.download .container {
            display: grid;
            height: 100%;
}

section.download .container .excel {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
            margin-top: 0px;
}
section.download .container .stick {
            max-width: 20%;
            max-height: 100vh;
            /*margin: auto;*/
            margin-left: 0px;
            margin-right: 50px;
            margin-bottom:0px;

}

section.download .section-heading {
    margin: 0 auto;
}

.ct-btn-scroll {
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 500px;
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

section.download {
  background: url("../img/bg-pattern.png"), #37ffcf;
  background: url("../img/bg-pattern.png"), -webkit-gradient(linear, right top, left top, from(#00BCD4), to(#673AB7));
  background: url("../img/bg-pattern.png"), linear-gradient(to bottom, #35bfc0, #8660fd);
}

section.download h2 {
    color: white;
}


.download_button {
  margin: 0 auto;
  margin-top: 7vh;
  text-decoration: none;
  display: block;
  height: 10vh;
  width: 40vh;
  /* width: 50%; */
  padding: 1px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #ffffff;
  text-shadow: 0 0 15px #434246;
  font-size: 12px;
}

.download_button .filename {
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
}

.download_button .filename:hover {
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
  color: black;
}
.download_button:hover {
  color: black;
}
.download_button:active {
  color: black;
}
.download_button:focus {
  color: black;
}
.download_button .filesize {
  margin: 10px 20px 0;
}
.filename:active {
  color: black;
}
.filename:focus {
  color: black;
}
.download_button .downloads {
  margin: 5px 20px 0;
}

.download_button .downloadicon{
  position: relative;
  float: right;
  margin: 10px;
  width: 140px;
  height: 90px;
}
.email_form .filename {
  font-size: 22px;
  text-align: center;
  margin-top: 30px;
}

@-webkit-keyframes movedown {
  0% {
    -webkit-transform: translateY(-1.5em);
    opacity:0;
  }
  50% {
    -webkit-transform: translateY(0);
    opacity:1;
  }
  100% {
    -webkit-transform: translateY(1.5em);
    opacity:0;
  }
}
@-moz-keyframes movedown {
  0% {
    transform: translateY(-1.5em);
    opacity:0;
  }
  50% {
    transform: translateY(0);
    opacity:1;
  }
  100% {
    transform: translateY(1.5em);
    opacity:0;
  }
}
@-o-keyframes movedown {
  0% {
    -o-transform: translateY(-1.5em);
    opacity:0;
  }
  50% {
    -o-transform: translateY(0);
    opacity:1;
  }
  100% {
    -o-transform: translateY(1.5em);
    opacity:0;
  }
}
@keyframes movedown {
  0% {
    transform: translateY(-1.5em);
    opacity:0;
  }
  50% {
    transform: translateY(0);
    opacity:1;
  }
  100% {
    transform: translateY(1.5em);
    opacity:0;
  }
}

.download_button .cloud{
  width: 140px;
  height: 40px;
  background-color: #fff;
  border-radius: 30px;
  position: absolute;
  top:40px;
}
.download_button .cloud:before{
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  top: -30px;
  left: 70px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  box-shadow: -40px 0 0 10px #fff;
}

.download_button .cloud .arrowdown {
  background: #37ffcf;
  position: absolute;
  top: -10px;
  left: 60px;
  width: 10px;
  height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-animation: movedown 2s infinite linear;
  -moz-animation: movedown 2s infinite linear;
  -o-animation: movedown 2s infinite linear;
  animation: movedown 2s infinite linear;
}

.download_button .cloud .arrowdown:before,
.download_button .cloud .arrowdown:after {
  top:18px;
  content: "";
  position: absolute;
  background: #37ffcf;
  position: absolute;
  width: 10px;
  height: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.download_button .cloud .arrowdown:before {
  -webkit-transform:rotate(45deg);
  -webkit-transform-origin: 56% 90%;
}
.download_button .cloud .arrowdown:after {
  -webkit-transform:rotate(-45deg);
  -webkit-transform-origin: 44% 90%;
}

.download_button{

background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #5b49fd 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #000000 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #000000 0%, #ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #000000 0%, #ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #8660fd 0%, #37ffcf 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aedb3d', endColorstr='#9fcb31',GradientType=0 ); /* IE6-9 */


}
.download_button{

  background: #ffffff; /* Old browsers */
  color: black;
  }

a {
  color: #ffffff;
  -webkit-transition: all .35s;
  transition: all .35s;
}

/* a:hover, a:focus {
  color: #ffffff;
} */



.upload_button {
  margin: 0 auto;
  margin-top: 10px;
  text-decoration: none;
  display: block;
  width: 500px;
  height: 100px;
  padding: 1px;
  border: 1px solid #37ffcf;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #ffffff;
  text-shadow: 0 0 15px #434246;
  font-size: 16px;
}

.upload_button .filename {
  font-size: 28px;
  text-align: center;
  margin-top: 15px;
}
.upload_button .filesize {
  margin: 10px 20px 0;
}

.upload_button .downloads {
  margin: 5px 20px 0;
}

.upload_button .uploadicon{
  position: relative;
  float: right;
  margin: 10px;
  width: 140px;
  height: 90px;
}


.upload_button .cloud{
  width: 140px;
  height: 40px;
  background-color: #fff;
  border-radius: 30px;
  position: absolute;
  top:40px;
}
.upload_button .cloud:before{
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  top: -30px;
  left: 70px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  box-shadow: -40px 0 0 10px #fff;
}

.upload_button .cloud .arrowup {
  background: #37ffcf;
  position: absolute;
  top: -10px;
  left: 60px;
  width: 10px;
  height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-animation: moveup 2s infinite linear;
  -moz-animation: moveup 2s infinite linear;
  -o-animation: moveup 2s infinite linear;
  animation: moveup 2s infinite linear;
}

.upload_button .cloud .arrowup:before,
.upload_button .cloud .arrowup:after {
  top:-14px;
  content: "";
  position: absolute;
  background: #37ffcf;
  position: absolute;
  width: 10px;
  height: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.upload_button .cloud .arrowup:before {
  -webkit-transform:rotate(140deg);
  -webkit-transform-origin: 56% 90%;
}
.upload_button .cloud .arrowup:after {
  -webkit-transform:rotate(-140deg);
  -webkit-transform-origin: 44% 90%;
}


@-webkit-keyframes moveup {
  0% {
    -webkit-transform: translateY(1.5em);
    opacity:0;
  }
  50% {
    -webkit-transform: translateY(0);
    opacity:1;
  }
  100% {
    -webkit-transform: translateY(-1.5em);
    opacity:0;
  }
}
@-moz-keyframes moveup {
  0% {
    transform: translateY(1.5em);
    opacity:0;
  }
  50% {
    transform: translateY(0);
    opacity:1;
  }
  100% {
    transform: translateY(-1.5em);
    opacity:0;
  }
}
@-o-keyframes moveup {
  0% {
    -o-transform: translateY(1.5em);
    opacity:0;
  }
  50% {
    -o-transform: translateY(0);
    opacity:1;
  }
  100% {
    -o-transform: translateY(-1.5em);
    opacity:0;
  }
}
@keyframes moveup {
  0% {
    transform: translateY(1.5em);
    opacity:0;
  }
  50% {
    transform: translateY(0);
    opacity:1;
  }
  100% {
    transform: translateY(-1.5em);
    opacity:0;
  }
}


.upload_button{

background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #5b49fd 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #000000 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #000000 0%, #ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #000000 0%, #ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #8660fd 0%, #37ffcf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aedb3d', endColorstr='#9fcb31',GradientType=0 ); /* IE6-9 */

}

.ImageBorder
{
    border-width: 10px;
    border-color: Black;
}

form.download input {
    /*background: url(pix/input_boxes.gif) no-repeat 0 -58px;*/
    border: none;
    width: 241px;
    height: 20px;
    padding-left: 3px;
    padding-top: 3px;
}

.rubric-heading {
  color: white;
}
.rubric-p-heading {
  color: rgb(77, 73, 73)
}

.motto {
    margin-bottom: 3rem!important;
    font-size: 50px;
    font-family: Lato,Helvetica,Arial,sans-serif;
}

.download-helper {
  color: rgb(77, 73, 73)
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
  background-color: whitesmoke !important;
  border-color: black;
  color: black;
}

.download-button {
  padding-top: 2vh;
}

.upload-box {
  padding: 50px;
  margin: 20px;
  margin: 10%; 
  min-height: 200px;
}

.file-inside-upload-box {
  padding: 50px;
  padding-left: 9.5vw;
  padding-right: 2vw;
  border: 2px dashed #5466df; 
}

a {
  color: inherit;
}
a:hover {
  color: #5466df;
}
.email-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.uppercase {
  text-transform: uppercase;
}
.btn {
  display: inline-block;
  background: transparent;
  font: inherit;
  border: 1;
  transition: all 200ms ease-in;
}
.btn--primary {
  background: #7f8ff4;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  border-radius: 30px;
  padding: 12px 36px;
}
.btn--primary:hover {
  background: #6c7ff2;
}
.btn--primary:active {
  background: #7f8ff4;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}
.btn--inside {
  margin-left: -96px;
}
.form__field {
  width: 360px;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
}
